In [47]:
import pandas as pd
import requests

In [48]:
df = pd.read_csv("DACNationalProvider.csv")
df

/var/folders/yw/glbhrf0506q_4fcjx743s0gc0000gn/T/ipykernel_18878/4233374298.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("DACNationalProvider.csv")

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,...,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,ind_assgn,grp_assgn,adrs_id
0,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,2867 CUMBERLAND FALLS HWY,NaN,NaN,CORBIN,KY,407018848,6.065235e+09,Y,Y,KY407018848CO2867XHWYX400
1,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,1025 SAINT JOSEPH LN,NaN,NaN,LONDON,KY,407418345,6.063302e+09,Y,Y,KY407418345LO1025XLNXX400
2,1003008095,3678666054,I20070830000131,HOUSE,ROBIN,R,NaN,F,NaN,OTHER,...,649 MEYERS BAKER RD,SUITE 102,NaN,LONDON,KY,407413006,6.068647e+09,Y,Y,KY407413006LO649XXRDXX402
3,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,4900 HOUSTON RD,NaN,NaN,FLORENCE,KY,410424824,8.592125e+09,Y,Y,KY410424824FL4900XRDXX300
4,1003010539,2668571191,I20111022000054,STEWART,RICHARD,NaN,NaN,M,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",...,85 N GRAND AVE,NaN,NaN,FORT THOMAS,KY,410751793,8.595724e+09,Y,Y,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,840293924,I20060825000196,NASSAB,PAUL,NaN,NaN,M,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,...,9221-9223 NE HWY 152,NaN,NaN,KANSAS CITY,MO,641587608,8.167922e+09,Y,Y,MO641587608KA92219152X500
151415,1427087972,3678606597,I20100729000242,WU,TZYY-CHOOU,NaN,NaN,M,NaN,OTHER,...,600 N WOLFE ST,NaN,NaN,BALTIMORE,MD,212870005,4.109555e+09,Y,Y,MD212870005BA600XXSTXX400
151416,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,NaN,N KANSAS CITY,MO,641163220,9.136425e+09,Y,Y,MO641163220NX2800XDRXX402
151417,1427088012,8224127725,I20100813000549,KRAHN,MICHAEL,J,NaN,M,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",...,5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,NaN,KANSAS CITY,MO,641512408,8.166918e+09,Y,Y,MO641512408KA5501XTERR403
151418,1427089044,8921103490,I20070412000367,PARKS,MARTIN,S,NaN,M,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,...,1908 W MECHANIC ST,NaN,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,Y,M,MO647011995HA1908XSTXX400

In [49]:
df.columns

Index(['NPI', 'Ind_PAC_ID', 'Ind_enrl_ID', 'lst_nm', 'frst_nm', 'mid_nm',
       'suff', 'gndr', 'Cred', 'Med_sch', 'Grd_yr', 'pri_spec', 'sec_spec_1',
       'sec_spec_2', 'Telehlth', 'org_nm', 'org_pac_id', 'num_org_mem',
       'adr_ln_1', 'adr_ln_2', 'ln_2_sprs', 'cty', 'st', 'zip', 'phn_numbr',
       'ind_assgn', 'grp_assgn', 'adrs_id'],
      dtype='object')

In [50]:
# Drop columns not needed and rename columns
pro_new = df[['NPI', 'lst_nm', 'frst_nm', 'Cred', 'Med_sch', 'adr_ln_1', 'adr_ln_2', 'cty', 'st', 'zip', 'phn_numbr',
              'adrs_id']].rename(columns={'lst_nm': 'Last_Name', 'frst_nm': 'First_Name', 'Cred': 'Type_of_Licensure',
                                          'adr_ln_1': 'Address_1', 'adr_ln_2': 'Address_2', 'cty': 'City', 'st': 'State',
                                          'zip': 'Zip', 'phn_numbr': 'Phone', 'adrs_id': 'PseudoAddressID'})

In [51]:
pro_new

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID
0,1003008095,HOUSE,ROBIN,NaN,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,407018848,6.065235e+09,KY407018848CO2867XHWYX400
1,1003008095,HOUSE,ROBIN,NaN,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,407418345,6.063302e+09,KY407418345LO1025XLNXX400
2,1003008095,HOUSE,ROBIN,NaN,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,407413006,6.068647e+09,KY407413006LO649XXRDXX402
3,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,410424824,8.592125e+09,KY410424824FL4900XRDXX300
4,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,410751793,8.595724e+09,KY410751793FO85XXXAVEX400
...,...,...,...,...,...,...,...,...,...,...,...,...
151414,1427086933,NASSAB,PAUL,MD,BOSTON UNIVERSITY SCHOOL OF MEDICINE,9221-9223 NE HWY 152,NaN,KANSAS CITY,MO,641587608,8.167922e+09,MO641587608KA92219152X500
151415,1427087972,WU,TZYY-CHOOU,NaN,OTHER,600 N WOLFE ST,NaN,BALTIMORE,MD,212870005,4.109555e+09,MD212870005BA600XXSTXX400
151416,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",2800 CLAY EDWARDS DR,NORTHLAND RADIOLOGY,N KANSAS CITY,MO,641163220,9.136425e+09,MO641163220NX2800XDRXX402
151417,1427088012,KRAHN,MICHAEL,NaN,"UNIVERSITY OF MISSOURI, KANSAS CITY, SCHOOL OF...",5501 NW 62ND TERRACE,200 TREMONT MEDICAL IMAGING,KANSAS CITY,MO,641512408,8.166918e+09,MO641512408KA5501XTERR403
151418,1427089044,PARKS,MARTIN,DC,CLEVELAND CHIROPRACTIC COLLEGE - KANSAS CITY,1908 W MECHANIC ST,NaN,HARRISONVILLE,MO,647011995,8.163802e+09,MO647011995HA1908XSTXX400

In [52]:
# Select providers from Kentucky only.
providers_ky = pro_new[pro_new['State'] == 'KY']

# Display the filtered DataFrame containing providers from KY
print(providers_ky)

              NPI Last_Name First_Name Type_of_Licensure  \
0      1003008095     HOUSE      ROBIN               NaN
1      1003008095     HOUSE      ROBIN               NaN
2      1003008095     HOUSE      ROBIN               NaN
3      1003010539   STEWART    RICHARD                DO
4      1003010539   STEWART    RICHARD                DO
...           ...       ...        ...               ...
14633  1427072990    MILLER       BETH                MD
14634  1427076173   BRUNEAU     DENISE                MD
14635  1427081348    HOWELL   MICHELLE                OD
14636  1427087857  BARTOLAC    TIFFANI               NaN
14637  1427087857  BARTOLAC    TIFFANI               NaN

                                                 Med_sch  \
0                                                  OTHER
1                                                  OTHER
2                                                  OTHER
3      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
4      UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...
...                                                  ...
14633           UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE
14634        UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE
14635                                              OTHER
14636       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE
14637       UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE

                       Address_1  Address_2         City State        Zip  \
0      2867 CUMBERLAND FALLS HWY        NaN       CORBIN    KY  407018848
1           1025 SAINT JOSEPH LN        NaN       LONDON    KY  407418345
2            649 MEYERS BAKER RD  SUITE 102       LONDON    KY  407413006
3                4900 HOUSTON RD        NaN     FLORENCE    KY  410424824
4                 85 N GRAND AVE        NaN  FORT THOMAS    KY  410751793
...                          ...        ...          ...   ...        ...
14633         2400 GREATSTONE PT        NaN    LEXINGTON    KY  405043274
14634         2201 LEXINGTON AVE        NaN      ASHLAND    KY  411012843
14635         3970 TURKEYFOOT RD        NaN     ERLANGER    KY  410182840
14636       1 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  410173403
14637     711 MEDICAL VILLAGE DR        NaN     EDGEWOOD    KY  410173439

              Phone            PseudoAddressID
0      6.065235e+09  KY407018848CO2867XHWYX400
1      6.063302e+09  KY407418345LO1025XLNXX400
2      6.068647e+09  KY407413006LO649XXRDXX402
3      8.592125e+09  KY410424824FL4900XRDXX300
4      8.595724e+09  KY410751793FO85XXXAVEX400
...             ...                        ...
14633           NaN  KY405043274LE2400XPTXX300
14634  8.009672e+09  KY411012843AS2201XAVEX300
14635  8.595341e+09  KY410182840ER3970XRDXX300
14636  8.592124e+09  KY410173403ED1XXXXDRXX400
14637  8.593313e+09  KY410173439ED711XXDRXX400

[14638 rows x 12 columns]

In [53]:
providers_ky.dtypes

NPI                    int64
Last_Name             object
First_Name            object
Type_of_Licensure     object
Med_sch               object
Address_1             object
Address_2             object
City                  object
State                 object
Zip                   object
Phone                float64
PseudoAddressID       object
dtype: object

In [66]:
providers_ky = pd.DataFrame(providers_ky)

# Function to convert ZIP code to integer (5 digits)
def convert_Zip_Code(Zip_str):
    return int(Zip_str)

# Function to convert phone number to string
def convert_Phone_Number(Phone_Number_str):
    return str(Phone_Number_str)

# Applying the conversion functions to the ZIP and Phone columns in the DataFrame
providers_ky['Zip_Code'] = providers_ky['Zip'].apply(convert_Zip_Code)
providers_ky['Phone_Number'] = providers_ky['Phone'].apply(convert_Phone_Number)

# Display the updated DataFrame with converted ZIP and Phone columns
providers_ky

,NPI,Last_Name,First_Name,Type_of_Licensure,Med_sch,Address_1,Address_2,City,State,Zip,Phone,PseudoAddressID,Zip_Code,Phone_Number,ZIP
0,1003008095,HOUSE,ROBIN,NaN,OTHER,2867 CUMBERLAND FALLS HWY,NaN,CORBIN,KY,407018848,6.065235e+09,KY407018848CO2867XHWYX400,407018848,6065235402.0,40701
1,1003008095,HOUSE,ROBIN,NaN,OTHER,1025 SAINT JOSEPH LN,NaN,LONDON,KY,407418345,6.063302e+09,KY407418345LO1025XLNXX400,407418345,6063302377.0,40741
2,1003008095,HOUSE,ROBIN,NaN,OTHER,649 MEYERS BAKER RD,SUITE 102,LONDON,KY,407413006,6.068647e+09,KY407413006LO649XXRDXX402,407413006,6068647316.0,40741
3,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",4900 HOUSTON RD,NaN,FLORENCE,KY,410424824,8.592125e+09,KY410424824FL4900XRDXX300,410424824,8592125441.0,41042
4,1003010539,STEWART,RICHARD,DO,"UNIVERSITY OF PIKEVILLE, KENTUCKY COLLEGE OF O...",85 N GRAND AVE,NaN,FORT THOMAS,KY,410751793,8.595724e+09,KY410751793FO85XXXAVEX400,410751793,8595723617.0,41075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14633,1427072990,MILLER,BETH,MD,UNIVERSITY OF TOLEDO COLLEGE OF MEDICINE,2400 GREATSTONE PT,NaN,LEXINGTON,KY,405043274,NaN,KY405043274LE2400XPTXX300,405043274,nan,40504
14634,1427076173,BRUNEAU,DENISE,MD,UNIVERSITY OF LOUISVILLE SCHOOL OF MEDICINE,2201 LEXINGTON AVE,NaN,ASHLAND,KY,411012843,8.009672e+09,KY411012843AS2201XAVEX300,411012843,8009672289.0,41101
14635,1427081348,HOWELL,MICHELLE,OD,OTHER,3970 TURKEYFOOT RD,NaN,ERLANGER,KY,410182840,8.595341e+09,KY410182840ER3970XRDXX300,410182840,8595341498.0,41018
14636,1427087857,BARTOLAC,TIFFANI,NaN,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,1 MEDICAL VILLAGE DR,NaN,EDGEWOOD,KY,410173403,8.592124e+09,KY410173403ED1XXXXDRXX400,410173403,8592124468.0,41017
14637,1427087857,BARTOLAC,TIFFANI,NaN,UNIVERSITY OF CINCINNATI COLLEGE OF MEDICINE,711 MEDICAL VILLAGE DR,NaN,EDGEWOOD,KY,410173439,8.593313e+09,KY410173439ED711XXDRXX400,410173439,8593313353.0,41017